<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DroneGuardian.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>98C1CF5A21078327009A5311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98C1CF6E21078329009A5311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98C1CF7921078329009A5311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
